*{
    font-family: monospace;
}
header input{
    margin-left: 80vw;
    margin-bottom: 2vh;
}
header button{
    margin-bottom: 2vh;
}
header img{
    margin-top: 6vh;
    margin-left: 35vw;
    width: 25vw;
}
.carousel-inner{
    padding: 4vh;
}

.card{
    margin: 4vh 5vw 2vh 3vw;
    cursor: pointer;
}
.card1{
    display: flex;
}
.card2{
    display: flex;
}
h1{
    padding: 2vw;
}
p{
    margin: 2vw;
}
.btn-outline-secondary{
    margin: 2vw;
}
.contato{
    padding-top: 2vh;
    padding-inline: 2vw;
}
.contato h2{
    font-size: 1.6vw;
    line-height: 5vh;
    margin: 4vh;
}
.contato p{
    line-height: 0.1vh;
    margin: 5vh;
}